<div class="flex-container">

  <mat-card class="login-card">
    <div class="action-container">

      <h2 class="adhub-name">Create an account</h2>
      <form [formGroup]="registerForm" class="action-container">

        <mat-form-field appearance="outline">
          <mat-label>Name</mat-label>
          <input matInput placeholder="Joe Doe" formControlName="nameController">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Business name</mat-label>
          <input matInput placeholder="Johnny electronics repair shop" formControlName="businessController">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput placeholder="twat@twat.com" formControlName="emailController">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput placeholder="Enter your password" [type]="hide_Password ? 'password' : 'text'" formControlName="passwordController">
          <mat-icon class="cursor-pointer" matSuffix (mousedown)="showPassword()" (mouseup)="hidePassword()">{{hide_Password ? 'visibility_off' : 'visibility'}}</mat-icon>
        </mat-form-field>



        <button mat-flat-button color="primary" (click)="sendLoginCredentials()" [disabled]="registerForm.invalid || registerForm.pristine">Login</button>
      </form>
    </div>
  </mat-card>

</div>
