<app-ad-player *ngIf="viewerEnable" [image_base_64]="viewingImage"></app-ad-player>
<div class="body" *ngIf="!viewerEnable">
  <mat-toolbar class="toolbar">
    <img class="logo" src="../../assets/images/logo_extracted.png">
    <div class="inner-toolbar">
      <p>Hi {{user.name}}</p>
      <span class="logout-container">
        <button id="logout" mat-flat-button color="warn" (click)="logout()">Logout</button>
      </span>
    </div>
  </mat-toolbar>


  <div class="inner-body">
    <p class="title-ads">Active Ads</p>

    <mat-divider></mat-divider>

    <mat-accordion>
      <mat-expansion-panel *ngFor="let ad of allAds | isActiveAd">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ad.name}}
          </mat-panel-title>
          <mat-panel-description>
            {{ad.uploadedDate | date:'medium' }}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="outer-pannel-description">
          <div class="expansion-description">
            <span>
              Ad Info
              <ul class="ad-info">
                <li>Id: {{ad.name}}</li>
                <li>Name: {{ad.id}}</li>
                <li>Uploaded on : {{ad.uploadedDate | date:'short'}}</li>
                <li>Display Locations : {{ad.location}}</li>
              </ul>
            </span>
            <span>
              Ad Stats
              <ul class="ad-info">
                <li>Day: {{ad.stats.numberOfTimeSeeDay}}</li>
                <li>Week: {{ad.stats.numberOfTimeSeeWeek}}</li>
                <li>Month : {{ad.stats.numberOfTimeSeeMonth}}</li>

              </ul>
            </span>
            <span>
              Actions
              <ul class="ad-info">
              <li><mat-slide-toggle [checked]="ad.active" (change)="changeActiveState(ad, !ad.active)">Active</mat-slide-toggle></li>
                <li><button mat-icon-button (click)="deleteAd(ad.id)"><mat-icon>delete</mat-icon>
                    </button> Delete </li>
              </ul>
            </span>

          </div>

          <img class="ad-image" src="{{ad.image_64}}" width="20%">

        </div>

      </mat-expansion-panel>
    </mat-accordion>

    <span class="button-container-footer">
      <button mat-fab (click)="openImageViewer()">View</button>
      <button mat-fab (click)="openAdUploadDialog()">Upload</button>
    </span>


    <p class="title-ads">Inactive Ads</p>

    <mat-divider></mat-divider>

    <mat-accordion>
      <mat-expansion-panel *ngFor="let ad of allAds | isActiveAd: 'inactive'">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ad.name}}
          </mat-panel-title>
          <mat-panel-description>
            {{ad.uploadedDate | date:'medium' }}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="outer-pannel-description">
          <div class="expansion-description">
          <span>
            Ad Info
            <ul class="ad-info">
              <li>Id: {{ad.name}}</li>
              <li>Name: {{ad.id}}</li>
              <li>Uploaded on : {{ad.uploadedDate | date:'short'}}</li>
              <li>Display Locations : {{ad.location}}</li>
            </ul>
          </span>
            <span>
            Ad Stats
            <ul class="ad-info">
              <li>Day: {{ad.stats.numberOfTimeSeeDay}}</li>
              <li>Week: {{ad.stats.numberOfTimeSeeWeek}}</li>
              <li>Month : {{ad.stats.numberOfTimeSeeMonth}}</li>
            </ul>
          </span>
            <span>
              Actions
              <ul class="ad-info">
              <li><mat-slide-toggle [checked]="ad.active" (change)="changeActiveState(ad, !ad.active)">Active</mat-slide-toggle></li>
                <li><button mat-icon-button (click)="deleteAd(ad.id)"><mat-icon>delete</mat-icon>
                    </button> Delete </li>
              </ul>
            </span>

          </div>
          <img class="ad-image" src="{{ad.image_64}}" width="20%">

        </div>

      </mat-expansion-panel>
    </mat-accordion>

    <span class="button-container-footer">
    <button mat-fab color="warn" (click)="openImageViewer()">View</button>
    <button mat-fab color="warn" (click)="openAdUploadDialog()">Upload</button>
  </span>
  </div>
</div>


