.title-ads{
  color: #FFFFFF;
  font-size: 1.5em;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin-top: 0px !important;
}

.ad-image{
  display: block;
  max-width:10%;
  width: auto;
  height: auto;
}

.expansion-description{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 1em 0 0 0;
}

.ad-info{
  list-style: none;
  padding-inline-start: 1em !important;
}

.body{
  position: relative;
  height: 100%;
  width: 100%;
  background-color: #303030;
}

.inner-body{
  margin-top: 1em;
  padding-left: 2vw;
  padding-right: 2vw;
}

.button-container-footer{
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 125px;
  justify-content: space-around;
}
